body {
  background: rgb(4, 212, 232);
  background: linear-gradient(
    90deg,
    rgba(4, 212, 232, 1) 0%,
    rgba(183, 121, 255, 1) 100%,
    rgba(255, 191, 100, 1) 100%
  );
}

li {
  list-style: none;
}

input,
button {
  border-radius: 15px;
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 15px;
  background: transparent;
}
h1 {
  font-size: 50px;
}
a {
  margin-left: 125px;
}

.allColl {
  width: 100%;
}
.col-2 {
  padding: 50px;
  font-size: 25px;
  line-height: 50px;
}
.col-3 {
  padding-top: 70px;
  text-align: center;
}
.temperature,
.first-sun {
  font-size: 70px;
}
.first-sun {
  margin-top: 25px;
}
.degree {
  font-size: 30px;
  color: black;
}
.current {
  font-size: 20px;
}
